In [2]:
import numpy as np
import pandas as pd
import xlrd

In [3]:
# Load spreadsheet
xl = pd.ExcelFile('transformations.xls')

# Load a sheet into a dataframe by its name
df = xl.parse(xl.sheet_names[0])  # assuming we want to read the first sheet

# Select the first two columns
df = df.iloc[:, 1:3]

print(df.head(10))

  Unnamed: 1                      Unnamed: 2
0        NaN               Input Feed Schema
1        NaN                             NaN
2  Field No.                      Field name
3          1                          msisdn
4          2                       subscr_id
5          3  email_address
6          4                             age
7          5                       join_date
8          6  gender
9          7                   postal_sector

In [4]:
names = df.iloc[3:, :2].dropna().set_index("Unnamed: 1")
names = names.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [5]:
names = names.to_dict()["Unnamed: 2"].values()
names

dict_values(['msisdn', 'subscr_id', 'email_address', 'age', 'join_date', 'gender', 'postal_sector', 'handset_model', 'handset_manufacturer', 'needs_segment_name', 'smart_phone_ind', 'operating_system_name', 'lte_subscr_ind', 'bill_cycle_day', 'avg_3_mths_spend', 'avg_3_mths_calls_usage', 'avg_3_mths_sms_usage', 'avg_3_mths_data_usage', 'avg_3_mths_intl_calls_usage', 'avg_3_mths_roam_calls_usage', 'avg_3_mths_roam_sms_usage', 'avg_3_mths_roam_data_usage', 'data_bolton_ind', 'insurance_bolton_ind', 'o2travel_optin_ind', 'pm_registered_ind', 'connection_dt', 'contract_start_dt', 'contract_end_dt', 'contract_term_mths', 'upgrade_dt', 'cust_tenure_mths', 'pay_and_go_migrated_ind', 'pay_and_go_migrated_dt', 'ported_in_ind', 'ported_in_dt', 'ported_in_from_netwk_name', 'disconnection_dt', 'tariff_name', 'sim_only_ind', 'acquisition_channel_name', 'billing_system_name', 'last_billing_date', 'event_desc', 'contact_event_type_cd', 'event_start_dt', 'campaign_cd', 'texts_optin_ind', 'email_optin_ind', 'phone_optin_ind', 'post_optin_ind', 'all_marketing_optin_ind'])

In [6]:
infile = pd.read_csv("input.csv", sep=",", skiprows=1, names=names)
infile

,msisdn,subscr_id,email_address,age,join_date,gender,postal_sector,handset_model,handset_manufacturer,needs_segment_name,...,last_billing_date,event_desc,contact_event_type_cd,event_start_dt,campaign_cd,texts_optin_ind,email_optin_ind,phone_optin_ind,post_optin_ind,all_marketing_optin_ind
0,44700600505,12345683,NaN,17,5/13/2017,female,AS111,ModelY,Nokia,XYZ1234,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y
1,44700600500,12345678,some.guy@gmail.com,15,11/20/2016,male,ES145,E5573s-320,HUAWEI,Unknown,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,N
2,44700600501,12345679,jane.doe@gmail.com,18,10/10/2017,female,AS146,ModelX,Nokia,fifarafa,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y
3,44700600502,12345680,kamil.jest.gupi@gmail.com,54,1/1/2018,error,ES147,Unknown,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y
4,44700600503,12345681,john.doe@gmail.com,33,9/24/2016,male,SS88,5,Mi,Xiaomi,...,NaN,NaN,NaN,NaN,NaN,N,N,N,N,N
5,44700600504,12345682,dummy.mail@gmail.com,36,1/20/2016,NaN,ES149,NaN,Lenovo,NaN,...,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y

In [7]:
infile.to_csv('input_schema.csv', index=False, header=True)